@import url('./reset.css');

:root {
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Montserrat', 'sans-serif';
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #242424;
}

.gallery {
  padding: 36px 16px 0;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 8px;

  margin: 0 auto 32px;
  width: 100%;
}

.input-search {
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  letter-spacing: 0.64px;

  padding: 8px 16px;

  min-width: 272px;

  border-radius: 4px;
  border: 1px solid #808080;
  outline: none;

  transition: border-color 0.2s ease-in-out;
}

.input-search:hover {
  border-color: #000;
}

.input-search:active,
.input-search:focus {
  border-color: #4e75ff;
}

.input-search::placeholder {
  color: #808080;
  letter-spacing: 0.64px;
}

.btn-search {
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.64px;

  border: none;
  border-radius: 8px;

  background: #4e75ff;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 8px 16px;

  transition: background-color 0.2s ease-in-out;
}

.btn-search:hover {
  background-color: #6c8cff;
}

.iziToast-wrapper .iziToast > .iziToast-close {
  background-image: url(../img/alert-close.svg);
  background-size: auto;
  opacity: 1;
}

.icon-cancel {
  background-image: url(../img/alert-cancel.svg);
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;

  gap: 24px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);

  border-radius: 4px;
  border: 1px solid #000;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: transform 0.2s ease-in-out;
}

.gallery-item:hover {
  transform: scale(1.04);
}

.gallery-link {
  height: -webkit-fill-available;
}

.gallery-link img {
  border-radius: 4px 4px 0 0;
}

.gallery-info-container {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 16px;

  padding: 8px 0;
}

.gallery-info {
  text-align: center;
}

.gallery-info-name {
  font-weight: 600;
}

.loader {
  display: none;

  width: 48px;
  height: 48px;

  margin: 0 auto;

  border-width: 3px;
  border-style: dashed solid solid dotted;
  border-color: #ff3d00 #ff3d00 transparent #ff3d00;
  border-radius: 50%;

  position: relative;

  animation: rotation 1s linear infinite;
}

.loader.show {
  display: block;
}

.loader::after {
  content: '';

  position: absolute;
  top: 31px;
  left: 20px;

  border: 10px solid transparent;
  border-right-color: #ff3d00;

  transform: rotate(-40deg);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
